<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniConnect - Inscription</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>MiniConnect</h1>

        <nav>
            <a href="/">Accueil</a>
            <a href="/connexion">Connexion</a>
        </nav>
    </header>

    <main class="container">
        <div class="form-box">

            <h2>Créer un compte</h2>

            <form method="POST", id="formulaire-inscription">

                <label for="nom">Nom</label>
                <input
                    type="text"
                    id="nom"
                    name="name"
                    placeholder="Votre nom"
                    required
                >

                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Votre email"
                    required
                >

                <label for="mot_de_passe">Mot de passe</label>

                <div class="password-box">
                    <input
                        type="password"
                        id="mot_de_passe"
                        name="mot_de_passe"
                        placeholder="Votre mot de passe"
                        required
                    >

                    <button
                        type="button"
                        class="eye-button"
                        onclick="togglePassword('mot_de_passe')"
                    >
                        👁
                    </button>
                </div>

                <label for="confirmation">Confirmez votre mot de passe</label>

                <div class="confirmation-box">
                    <input
                        type="password"
                        id="confirmation"
                        name="confirmation"
                        placeholder="Confirmez le mot de passe"
                        required
                    > 
               
                    <P id="message-erreur">{{erreur}}</P>    

                    <button
                        type="button"
                        class="eye-button"
                        onclick="togglePassword('confirmation')"
                    >
                        👁
                    </button>
                </div>

                <button type="submit"
                class="btn"
                onclick="Confirm_password()"
                >
                    S'inscrire
                </button>

            </form>

            {% if message %}
                <p class="message">{{ message }}</p>
            {% endif %}

            <p class="link-text">
                Vous avez déjà un compte ?
                <a href="/connexion">Se connecter</a>
            </p>

        </div>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>